body{
  color: #6a8a82;
  background-color: #282726;
  font-family: Consolas, sans-serif;
}

svg {
  padding: 20px;
}

a {
  color: inherit;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro a:hover {
  color: #a7414a;
}

.resume {
  width: 70%;
  margin: 100px auto;
}

.resume p {
  color: #a7414a;
}

.resume a:hover {
  color: #a37c27;
}
