<h1 id="andrew-tribone">Andrew Tribone</h1>
<p><a href="mailto:andrew@trib.one">andrew@trib.one</a> [andrew at trib dot one]</p>
<p>Pragmatic software engineer and leader working to solve technology problems in the logistics industry. Currently building a Product Management organization at EasyPost. I am passionate about thoughtful software design, test driven development, and scalable infrastructures.</p>
<h2 id="easypost">EasyPost</h2>
<h3 id="director-of-product">Director of Product</h3>
<p><em>December 2018 - Present</em></p>
<p>Founding member of the Product Management organization at EasyPost. As our company scales and our breadth of customers increases we strive to ensure we are meeting the needs of our users. We focus on making data-driven decisions and use our analyses to inform future products.</p>
<h3 id="director-of-engineering">Director of Engineering</h3>
<p><em>January 2018 – December 2018</em></p>
<p>Day-to-day operator of the Engineering team, head of technical support, and lead application developer.</p>
<h3 id="software-engineer">Software Engineer</h3>
<p><em>Febuary 2014 – Jan 2018</em></p>
<p>Application developer focused on infrastructure related projects, e.g. service oriented architecture, message queues, testing and software design.</p>
<h2 id="yelp">Yelp</h2>
<h3 id="software-engineer-1">Software Engineer</h3>
<p><em>January 2012 - January 2014</em></p>
<p>Application developer focused on B2B APIs for data ingestion and syndication.</p>
<h2 id="university-of-pittsburgh">University of Pittsburgh</h2>
<h3 id="bs-computer-science">BS, Computer Science</h3>
