<!DOCTYPE html>
<html>
  <head>
    <title>Andrew Tribone</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    <script src="https://kit.fontawesome.com/d69bd39ec6.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="intro">
      <h1 class="display-4">Andrew Tribone</h1>
      <a href="/resume" class="text-decoration-none">
        <i class="far fa-address-card fa-7x"></i>
      </a>
      <a href="https://www.github.com/att14" class="text-decoration-none">
        <i class="fab fa-github fa-7x"></i>
      </a>
      <a href="https://www.linkedin.com/in/andrew-tribone-5373353b/" class="text-decoration-none">
        <i class="fab fa-linkedin fa-7x"></i>
      </a>
    </div>
  </body>
</html>
